main{
    display: flex;
    flex-wrap: wrap;
}

header, footer, nav{
    flex:0 0 100%
}

article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 100%;
    
}

aside{
    flex:0 0 50%;
}

article>div{
    flex: 0 0 100%;
}
article>div>img{
    width: 30%;
}