main{
    display: flex;
    flex-wrap: wrap;
}

header, footer, nav{
    flex:0 0 100%
}

article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    margin: 0 auto;
}

.article2{
    display: flex;
    flex-wrap: wrap; 
}

.article2>div{
    
    margin: 0 auto;
}

article{
    flex: 0 0 40%;
}

.article2{
    flex: 0 0 50%;
}

header{
    text-align: center;
    margin: 10px;
    font-size: xx-large;
}
footer{
    text-align: center;
    margin: 10px;
    font-size: large;
    background-color: rgb(56, 56, 77);
}
nav{
    background-color: rgb(56, 56, 77);
    color: white;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;

}

nav a{
    text-decoration: none;
    color: white;

}


article>div{
    flex: 0 0 100%;
}

article>div>img{
    width: 100%;
}

@media screen and (max-width: 800px){
    header,nav,article,aside,footer{    
        flex:0 0 50%;}
        article{
            flex: 0 0 60%;
        }
}
@media screen and (max-width: 400px){
    header,nav,article,aside,footer{    
        flex:0 0 50%;}
        article{
            flex: 0 0 100%;
        }
}


